
.issues-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 140px;
}

header {
    background-color: #ffffff; 
  }
  
body.dark-mode header{
    background-color: black;
    color: white;
}
  
.issue-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: calc(33.333% - 20px); /* Adjust the width as needed */
    padding: 20px;
    transition: box-shadow 0.3s ease-in-out;
}

.issue-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

body.dark-mode .card-body{
    color: black;
}

.issue-card .card-header {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    border-radius: 8px 8px 0 0;
}

.issue-card .card-header h5 {
    margin: 0;
    font-size: 1.5rem;
}

.issue-card .card-body {
    padding: 10px;
    line-height: 25px;
}

.issue-title {
    font-weight: bold;
}

/* view_issue.php  */

.issue_container {
    display: flex;
    margin-top: 100px;
    gap: 50px;
}

.issue-details {
    margin-top: 30px;
    margin-left: 100px;
    width: 500px;

    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease-in-out;
}

.map-container {
    width: 800px;
    margin-right: 50px;
}

@media screen and (max-width: 736px) {
    .issue-card {
        width: calc(100% - 20px);
    }

    .issue_container {
        display: inline;
    }

    .issue-details {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 100px;
        width: auto;
    }

    .map-container {
        margin: 20px;
        width: auto;
    }
}


