.main_container {
    width: 90%;
    margin: 120px auto 0;
    padding: 20px;
}
.dark-mode header{
    background-color: rgb(0, 0, 0);;
}
 
.dark-mode nav ul li a{
    color: white;
}
 
.dark-mode  .menu-toggle .bar,
.dark-mode  .menu-toggle .bar2{
    background-color: white;
}
 
.dark-mode .product-card{
    background-color: rgb(0, 0, 0);;
    color: white;
    border: 1px solid #2B5AC2;
}
 
.dark-mode .go-to-shop-icon {
    color: rgba(255, 255, 255, 0.804);
}
 
.view-cart-btn {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 20px;
    font-weight: bold;
    color: #182431;
    border: 1px solid #2B5AC2;
    border-radius: 88px;
    background-color: #f0f8ff;
    transition: background-color 0.3s ease, color 0.3s ease;
}
 
.view-cart-btn:hover {
    background-color: #2B5AC2;
    color: #ffffff;
}
 
.search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
 
.search-bar input[type="text"] {
    padding: 10px;
    border: 1px solid #2B5AC2;
    border-radius: 20px;
    width: 350px;
    margin-right: 10px;
    font-size: 16px;
}
 
.search-btn {
    width: 100px;
    height: 40px;
    color: #182431;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #2B5AC2;
    border-radius: 88px;
    background-color: #f0f8ff;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}
 
.search-btn:hover {
    background-color: #2B5AC2;
    color: #ffffff;
}
 
.product-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
 
.product-card {
    width: 300px;
    height: 450px;
    border: 1px solid #ddd;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    position: relative;
}
 
.product-card:hover {
    transform: translateY(-5px);
}
 
.go-to-shop-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.579);
    cursor: pointer;
    transition: color 0.3s ease;
}
 
.go-to-shop-icon:hover {
    color: #2B5AC2;
}
 
.product-card img {
    width: 60%;
    height: 200px;
    object-fit: cover;
    margin: 10px auto;
}
 
.product-details {
    padding: 15px;
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
 
.product-details h3 {
    font-size: 18px;
    margin-bottom: 10px;
}
 
.product-details .price {
    font-size: 16px;
    color: #28a745;
    margin-bottom: 10px;
}
 
.product-details input[type="number"] {
    width: 50px;
    margin-right: 10px;
    border-radius: 20px;
}
 
.product-details button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-left: 10px;
}
 
.product-details button:hover {
    background-color: #218838;
}
 
select, input[type="text"], input[type="date"], input[type="time"], input[type="number"], input[type="password"], input[type="email"] {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
.shop-info {
    max-width: 1250px;
    margin: 10px auto;
    background: white;
    border-radius: 50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}
 
.shop-info h1 {
    font-size: 3em;
    color: #333;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
 
.shop-info p {
    font-size: 1.2em;
    color: #666;
    margin: 10px 0;
}
 
h2{
    margin-left: 40px;
    margin-top: 20px;
}
 
.dark-mode .shop-info{
    background-color: black;
    color: white;
    border: 1px solid #2B5AC2;
}
 
.dark-mode .shop-info h1{
    color: white;
}
 
.dark-mode .shop-info p{
    color: #ddddddb7;
}

.alert {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
}