@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
}

:root{
    --primary-color:#2B5AC2;
}

html {
    scrollbar-width: none; 
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    padding: 0;
}

body.dark-mode {
    background-color: #000000;
    color: #ffffff;
}

header {
    padding: 10px 20px;
    position: fixed;
    background-color: rgb(255, 255, 255);;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.small-icon {
    width: 32px; 
    height: 32px; 
    object-fit: contain; 
    margin: 0 5px; 
    transition: transform 0.3s; 
}

.small-icon:hover {
    transform: scale(1.1);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo img {
    height: 70px;
    margin-left: 40px;
}

.logo .logo2 {
    height: 70px;
    margin-left: 40px;
    display: none; 
}

.dark-mode .logo img {
    display: none; 
}

.dark-mode .logo .logo2 {
    display: block; 
}

nav ul {
    list-style-type: none;
    top: 0;
    display: flex;
    text-align: center; 
    justify-content: center; 
    padding: 0; 
}

nav ul li {
    margin-left: 30px;
    position: relative; 
}

nav ul li a {
    color: rgb(0, 0, 0); 
    text-decoration: none;
    margin-right: 20px;
    padding: 5px 15px;
    font-weight: 400;
    display: inline-block; 
    position: relative; 
}

nav ul li a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000; 
    transition: width 0.3s ease;
}

nav ul li a:hover::before {
    width: 100%;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    z-index: 1001;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    z-index: 1001;
}

.menu-toggle .bar {
    height: 3px;
    width: 25px;
    background-color: rgb(0, 0, 0);
    margin: 4px 0;
    transition: 0.3s ease;
}

.menu-toggle .bar2 {
    height: 3px;
    width: 15px;
    background-color: rgb(0, 0, 0);
    margin: 4px 0;
    transition: 0.3s ease;
}

#darkmode-toggle {
    margin-left: -800px;
}

.darkmode-toggle-label {
    width: 50px;
    height: 25px; 
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 50px; 
    box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0.4);
    cursor: pointer;
    transition: 0.3s;
    margin: 0 auto; 
}

.darkmode-toggle-label:after {
    content: "";
    width: 20px; 
    height: 20px; 
    position: absolute;
    top: 2.5px; 
    left: 2.5px; 
    background: linear-gradient(180deg,#ffcc89,#d8860b);
    border-radius: 50%; 
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    transition: 0.3s;
}

input:checked + label:after {
    left: calc(100% - 25px); 
    transform: translateX(0);
    background: linear-gradient(180deg,#777,#3a3a3a);
}

.darkmode-toggle-label svg {
    position: absolute;
    width: 15px; 
    top: 50%; 
    transform: translateY(-50%); 
    transition: 0.3s;
}

.darkmode-toggle-label svg.sun {
    left: 5px;
    fill: #fff;
}

.darkmode-toggle-label svg.moon {
    right: 5px; 
    fill: #7e7e7e;
}

/* User Icon Styles */
.user-icon {
    display: flex;
    align-items: center;
    margin-left: 30px;
    font-size: 24px;
    color: #000000;
    transition: transform 0.3s ease, color 0.3s ease; 
}

.user-icon:hover {
    transform: scale(1.1); 
}

body.dark-mode .user-icon {
    color: #ffffff; 
}

/* Responsive Styles */
@media (max-width: 768px) {
    .logo img {
        margin-left: 5px;
    }

    .dark-mode .logo .logo2{
        margin-left: 5px;
    }

    .social-links {
        margin-left: 30px;
    }

    nav ul {
        position: fixed;
        top: 0;
        right: -100%;
        width: 250px;
        height: 500px;
        background-color: #e6e6e6;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 30px 0 0 30px;
        transition: right 0.3s ease;
    }

    body.dark-mode nav ul {
        background-color: #000000; 
        color: white;
        border: 2px solid var(--primary-color);
    }

    nav ul.show {
        right: -20px;
    }

    nav ul li {
        margin-top: 10px;
    }

    nav ul li a {
        text-align: center;
        line-height: 2.5rem;
        color: #000000; 
    }


    .menu-toggle {
        display: flex;
    }

    .menu-toggle.show .bar:nth-child(1) {
        transform: rotate(45deg) translate(15px, 10px);
    }

    .menu-toggle.show .bar2:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.show .bar:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -1px);
    }
    .user-icon {
        margin-left: 15px; 
        font-size: 20px; 
        margin-top: 20px;
        margin-bottom: 10px;
    }
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.preloader-wrap {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.8);
}
.preloader {
   position: relative;
   width: 100px;
   height: 100px;
   border-radius: 50%;
   perspective: 780px;
}
.loading-circle {
   position: absolute;
   width: 100%;
   height: 100%;
   box-sizing: border-box;
   border-radius: 50%;
}
.loading-circle-one {
   left: 0%;
   top: 0%;
   animation: loadingCircleOne 1.2s linear infinite;
   border-bottom: 8px solid #722dff;
}
.loading-circle-two {
   top: 0%;
   right: 0%;
   animation: loadingCircleTwo 1.2s linear infinite;
   border-right: 8px solid #722dff;
}
.loading-circle-three {
   right: 0%;
   bottom: 0%;
   animation: loadingCircleThree 1.2s linear infinite;
   border-top: 8px solid #722dff;
}
@keyframes loadingCircleOne {
   0% {
       transform: rotateX(40deg) rotateY(-40deg) rotateZ(0deg);
   }
   100% {
       transform: rotateX(40deg) rotateY(-40deg) rotateZ(360deg);
   }
}
@keyframes loadingCircleTwo {
   0% {
       transform: rotateX(50deg) rotateY(15deg) rotateZ(0deg);
   }
   100% {
       transform: rotateX(50deg) rotateY(15deg) rotateZ(360deg);
   }
}
@keyframes loadingCircleThree {
   0% {
       transform: rotateX(15deg) rotateY(50deg) rotateZ(0deg);
   }
   100% {
       transform: rotateX(15deg) rotateY(50deg) rotateZ(360deg);
   }
}