body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

.container-mech {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.top {
    padding: 50px 0;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.top .side-img{
    margin-top: 50px;
}

.topic {
    max-width: 60%;
    margin-left: 50px;
}

.topic h1.first {
    color: #ff0000; 
}

.topic h1 {
    font-size: 3rem; /* Updated font size */
    margin: 10px 0;
    line-height: 1.5;
    font-weight: bold;
}

.topic img {
    width: 300px;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-left: 50px;
}

/* CSS */
.button {
    display: inline-block;
    margin-top: 20px;
    width: 150px;
    height: 50px;
    color: #182431;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #2B5AC2;
    border-radius: 88px;
    background-color: #f0f8ff;
    text-decoration: none;
    text-align: center;
    line-height: 30px; /* Adjust if necessary */
    transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover {
    background-color: #2B5AC2;
    color: #ffffff;
    cursor: pointer;
}

.services-btn {
    margin-top: 20px;
    width: 150px;
    color: #182431;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #2B5AC2;
    border-radius: 88px;
    background-color: #f0f8ff;
    transition: background-color 0.3s, color 0.3s;
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 70px;
}

body.dark-mode  .box-service{
    border: 2px solid #2B5AC2;
}

.box-service {
    background-color: #d2d2d2;
    cursor: pointer;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 20px;
    text-align: justify;
    transition: transform 0.3s ease-in-out;
    width: 250px;
    height: 300px;
    max-width: 100%;
}

.box-service img {
    max-width: 100px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.box-service p {
    margin: 10px 0;
    color: rgb(68, 68, 68);
    font-size: 16px;
}

.box-service:hover {
    transform: scale(1.05);
}

.view-services {
    margin-top: 60px;
    text-align: center;
    font-weight: bold;
}

.view-services h2 {
    font-size: 30px;
    color: #3a3a3a;
}

.title-contri {
    margin-top: 60px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.carousel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    color: #fff;
     overflow: hidden;
}

.carousel-items {
    display: flex;
    justify-content: space-between;
    width: 80%;
    overflow: hidden;
    margin-left: 10px;
    padding: 0 10px; 
}

.title-contri h1 {
    font-size: 2.5rem;
}

.carousel-item {
    min-width: 30%;
    background-color: #007bff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 20px; 
    transition: transform 0.3s ease;
    padding: 20px;
    box-sizing: border-box;
    text-align: center; 
}

.carousel-item:last-child {
    margin-right: 0; 
}

.carousel-item img {
    max-width: 80%;
    height: auto; 
    display: block; 
    margin: 7px auto; 
}

.carousel-item h3 {
    margin: 10px 0; 
}

.carousel-item p {
    margin-top: 7px; 
    text-align: justify; 
    line-height: 20px;
}


.img-best-mechanic {
    scale: 50%;
}

.carousel-btn {
    background-color: transparent;
    border: none;
    font-size: 2em;
    cursor: pointer;
    color: #333;
    padding: 0 20px;
}

.carousel-btn:hover {
    color: #ff0000;
    background-color: transparent;
}

.carousel-btn.prev {
    position: absolute;
    left: 0;
}

.carousel-btn.next {
    position: absolute;
    right: 0;
}

body.dark-mode nav .menu-toggle .bar,
body.dark-mode nav .menu-toggle .bar2 {
    background-color: rgb(255, 255, 255);
}

header {
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #ffffff; 
    z-index: 1000;
}

body.dark-mode header {
    background-color: #000000; 
    color: white;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 70px;
    margin-left: 40px;
}

.logo .logo2 {
    height: 70px;
    margin-left: 40px;
    display: none; 
}

.dark-mode .logo img {
    display: none; 
}

.dark-mode .logo .logo2 {
    display: block; 
}


nav ul {
    list-style-type: none;
    top: 0;
    display: flex;
    text-align: center; 
    justify-content: center; 
    padding: 0; 
}

nav ul li {
    margin-left: 30px;
    position: relative; 
}

nav ul li a {
    color: rgb(0, 0, 0); 
    text-decoration: none;
    margin-right: 20px;
    padding: 5px 15px;
    font-weight: 400;
    display: inline-block; 
    position: relative; 
}

/* Underline effect */
nav ul li a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000; 
    transition: width 0.3s ease;
}

nav ul li a:hover::before {
    width: 100%;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    z-index: 1001;
}

.menu-toggle .bar {
    height: 3px;
    width: 25px;
    background-color: rgb(0, 0, 0);
    margin: 4px 0;
    transition: 0.3s ease;
}

.menu-toggle .bar2 {
    height: 3px;
    width: 15px;
    background-color: rgb(0, 0, 0);
    margin: 4px 0;
    transition: 0.3s ease;
}

#darkmode-toggle {
    margin-left: -800px;
}

label {
    width: 50px;
    height: 25px; 
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 50px; 
    box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0.4);
    cursor: pointer;
    transition: 0.3s;
    margin: 0 auto; 
}

label:after {
    content: "";
    width: 20px; 
    height: 20px; 
    position: absolute;
    top: 2.5px; 
    left: 2.5px; 
    background: linear-gradient(180deg,#ffcc89,#d8860b);
    border-radius: 50%; 
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    transition: 0.3s;
}

input:checked + label:after {
    left: calc(100% - 25px); 
    transform: translateX(0);
    background: linear-gradient(180deg,#777,#3a3a3a);
}

label svg {
    position: absolute;
    width: 15px; 
    top: 50%; 
    transform: translateY(-50%); 
    transition: 0.3s;
}

label svg.sun {
    left: 5px;
    fill: #fff;
}

label svg.moon {
    right: 5px; 
    fill: #7e7e7e;
}

@media (max-width: 768px) {
    .container-mech{
        margin-top: 50px;
    }
    .topic h1 {
        font-size: 40px;
    }

    .top .side-img img{
        width: 70%;
        margin-left: 20%;
    }

    .topic img {
        width: 50%;
        max-width: 250px;
        margin: 30px auto;
    }

    button {
        width: 100%;
        padding: 10px;
    }

    .top {
        flex-direction: column;
        align-items: flex-start;
    }

    .services {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 10px;
    }

    .box-service {
        width: 100%;
    }
    .carousel {
        flex-direction: column;
        align-items: center;
    }

    .carousel-items {
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }

    .carousel-item {
        min-width: 100%;
        height: auto;
        margin: 10px 0;
        padding: 10px;
        box-sizing: border-box;
    }

    .carousel-btn {
        display: none;
    }
    .title-contri h1{
        font-size: 25px;
    }
}

@media (max-width: 480px) {
    .topic h1 {
        font-size: 24px;
    }

    .topic img {
        width: 100%;
        max-width: 200px;
    }

    .view-services h2 {
        font-size: 24px;
    }

    .title-contri {
        font-size: 28px;
    }
    .carousel-btn {
        display: none;
    }

    .carousel-item h3 {
        font-size: 1.2rem;
    }

    .carousel-item p {
        font-size: 14px;
    }
}
