body {
  font-family: Arial, sans-serif;
  padding: 0;
  color: #333;
}

.top {
  padding: 50px 0;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.top .side-img{
  margin-top: 50px;
}

body.dark-mode ul li a{
  color: white;
}

body.dark-mode nav ul li a::before {
  background-color: #ffffff; 
}

header {
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #ffffff; 
  z-index: 1000;
}

body.dark-mode header {
  background-color: #000000; 
  color: white;
}

.post-container {
  margin-top: 100px;
  margin-left: 100px;
}

textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  border: 1px solid #ccc !important;
  border-radius: 5px !important;
  box-sizing: border-box;
}
