body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
    background-image: url("../../img/post-background.jpg");
    background-size: cover;
    background-position: center 100px;
    background-repeat: no-repeat;
}

.container-post {
    width: 80%; 
    margin: 50px auto; 
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: relative;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    transition: color 0.3s;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

button[type="submit"] {
    padding: 10px;
    background-color: #2B5AC2;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #218838;
}

.success {
    color: #28a745;
    font-weight: bold;
    margin-bottom: 20px;
}

.error {
    color: #dc3545;
    font-weight: bold;
    margin-bottom: 20px;
}

@media (min-width: 768px) {

    .container-post {
        width: 60%;
        
        margin-top: 100px;
    }
}

@media (min-width: 1024px) {
    .container-post {
        width: 50%;
        margin: 150px auto; 
    }
}
