body {
    font-family: Arial, sans-serif;
    padding: 0;
    background-color: #f7f7f7;
}


.main_container{
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;

}

.form-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.form-row {
    display: flex;
    gap: 20px;
    width: 100%;
}
.form-group {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 20px;
    
}
label {
    margin-bottom: 5px;
    font-weight: bold;
}
select, input[type="text"], input[type="date"], input[type="time"], input[type="number"], input[type="password"], input[type="email"],textarea {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
.half-width {
    flex: 0 0 50%;
}
.half-width-input {
    width: 100%;
}
input[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
input[type="submit"]:hover {
    background-color: #45a049;
}

.view-link {
    width: 90px;
    color: #182431;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border: 1px solid #007BFF;
    border-radius: 88px;
    background-color: #f0f8ff;
    transition: background-color 0.3s, color 0.3s;
}

.view-link:hover {
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

.delete-link {
    width: 90px;
    color: #182431;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border: 1px solid #e4282e;
    border-radius: 88px;
    background-color: #fff1f4;
    transition: background-color 0.3s, color 0.3s;
}

.delete-link:hover {
    background-color: #ee0c0c;
    color: white;
    cursor: pointer;
}

.error-message {
    color: red;
    font-size: 12px;
}

.batch {
    width: 150px;
    margin-bottom: 20px;
}

.title{
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    margin-left: -70px;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal::-webkit-scrollbar {
    Display: none
}

.table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
    font-family: 'Arial', sans-serif;
}
table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 2px 3px rgba(0,0,0,0.1);
}
th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}

.alert {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
}

#search-icon, #search-uni-icon {
    margin-left: 5px;
    padding: 6px;
    width: 45px;
    height: 45px;
    color: #182431;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #007BFF;
    border-radius: 10px;
    background-color: #f0f8ff;
    transition: background-color 0.3s, color 0.3s;
}

#search-icon:hover {
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

#search-uni-icon:hover {
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

.searchbars {
    display: flex;
    gap: 100px;
    margin-top: 50px;
    margin-bottom: 25px;
}

.shop-container {
    margin-left: 300px;
}

.shop-container {
    padding: 20px;
    text-align: center;
}

.shop-container h1 {
    margin-top: 80px;
}

.shop-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 20px auto;
}

.shop-card {
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.shop-card:hover {
    transform: translateY(-10px);
}

.shop-card h2 {
    font-size: 24px;
    color: #333;
}

.shop-card p {
    font-size: 16px;
    color: #555;
    margin: 10px 0;
}

.view-products-btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.view-products-btn:hover {
    background-color: #0056b3;
}

.btn {
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 20px;
    width: 150px;
    color: #182431;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #2B5AC2;
    border-radius: 88px;
    background-color: #f0f8ff;
    text-decoration: none;
    text-align: center;
    transition: background-color .50s ease, color .50s ease;
}

.btn:hover {
    background-color: #2B5AC2;
    color: #ffffff;
    cursor: pointer;
}

@media screen and (min-width: 1200px) {
    .main_container{
     width: calc(100% - 300px);
     margin: 100px auto auto 300px; 
     overflow: hidden;
     max-width: none;
    }
 }
 @media screen and (max-width: 1199px) {

    .main_container{
        width: 100%;
       
        justify-content: center;
        margin-top: 5rem
        ;
        
    }
    .modal {
        margin-left: 0px;
    }

    th{
        display: none;
    }
    td{
        
        display: grid;
        gap: 0.5rem;
        grid-template-columns: 15ch auto;
        padding: 0.75rem 1rem;
    }
    td:first-child{
        padding-top: 2rem;

    }
    td:last-child{
        padding-bottom: 2rem;
        
    }
    td::before{
        content:attr(data-cell) ": ";
        font-weight: 700;
        text-transform: capitalize;
    }
 }
 @media screen and (max-width: 650px){
 .form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .modal {
    margin-left: 0px;
  }
}